{% extends 'vet/vet.html' %}
{% block content %}

<div class="title"><h4>BADANIA LABORATORYJNE</h4></div>

<p><b>Analiza krwi:</b></p>
<ul>
    <li> Morfologia </li>
    <li> Biochemia </li>
    <li> Jonogram </li>
    <li> Hormony </li>
    <li> Określenie poziomu przeciwciał przeciw wściekliźnie </li>
</ul>

<p><b>Testy:</b></p>
<ul>
    <li> Babesziozy </li>
    <li> Nosówki </li>
    <li> FeLV </li>
    <li> FIV </li>
    <li> FIP </li>
    <li> Toksoplazmozy </li>
    <li> Chlamydii </li>
    <li> RF - czynnika reumatoidalnego </li>
</ul>

<p><b>Badania moczu:</b></p>
<ul>
    <li> Badanie ogólne </li>
    <li> Posiew </li>
</ul>

<p style="color:#2655e1;">Podstawowe wyniki badań tego samego dnia.</p>

<p><b>Badanie Mikrobiologiczne:</b></p>
<ul>
    <li>Zeskrobiny-grzybicze</li>
    <li>Zeskrobiny-pasożytnicze</li>
    <li>Antybiogram-posiew</li>
</ul>

<p><b>Histopatologia:</b></p>
<ul>
    <li> tkanek (guzy)</li>
    <li>krwi</li>
</ul>

{% endblock %}