{% extends 'vet/vet.html' %}
{% block content %}

<div class="title"><h4>CZIPOWANIE</h4></div>

<ul>
<li>Wszczepienie czipa jest czynnością trwającą ok. 5-10 min., wykonuje się ją w miejscowym znieczuleniu,
    dlatego dla zwierzęcia często czipowanie jest mniej bolesne niż zwykłe ukłucie zastrzykiem jak np. przy szczepieniu.</li>
<li>Czip wszczepia się pod skórę z lewej strony szyi, jest to mikroprocesor w kształcie walca oblany szkłem
    o średnicy 1.8mm i długości 15mm, wszczepiany jest tylko jeden raz w życiu, nie wymaga wymiany, jest zupełnie obojętny dla organizmu zwierzęcia.</li>
<li>Czipowanie aktualnie wymagane jest do oznakowania zwierząt podróżujących po UE czyli do wyrobienia paszportu,
    oraz do ewidencji zwierząt mieszkających na terenie naszego kraju. Tworząca się ogólnopolska baza danych zwierząt
    oznakowanych w znacznym stopniu ułatwi identyfikację i odnalezienie zwierzęcia na wypadek jego zaginięcia.</li>
<li>Czipowanie aktualnie wymagane jest do oznakowania zwierząt podróżujących po UE czyli do wyrobienia paszportu,
    oraz do ewidencji zwierząt mieszkających na terenie naszego kraju. Tworząca się ogólnopolska baza danych
    zwierząt oznakowanych w znacznym stopniu ułatwi identyfikację i odnalezienie zwierzęcia na wypadek jego zaginięcia.</li>
</ul>


{% endblock %}