{% extends 'vet/vet.html' %}
{% block content %}

<div class="title"><h4>LECZENIE INTERNISTYCZNE</h4></div>

<p>Wiemy jak ważne jest aby jak najszybciej skrócić cierpienie związane z chorobą. Zdajemy sobie sprawę,
    że do osiągnięcia oczekiwanej poprawy niezbędna jest współpraca z Państwem dlatego wdzięczni jesteśmy
    za wszystkie cenne uwagi - bo któż może znać lepiej swego czworonożnego przyjaciela jak nie jego opiekun?
    To właśnie rozmowa z Państwem w wielu przypadkach pozwala postawić ostateczne rozpoznanie.</p>

<p>Powodem spotkania z lekarzem weterynarii są także problemy na które składa się szereg złożonych przyczyn.
    tych niejednoznacznych przypadkach konieczne są badania dodatkowe bądź specjalistyczne które weryfikują
    nasze intuicyjne diagnozy oraz wyznaczają kierunek leczenia. Wszystkie takie badania mogą Państwo wykonać w naszej przychodni.</p>

<p>W leczeniu internistycznym zwracamy uwagę na:</p>
<ul style="list-style-type: disc;">
    <li>choroby układu: krążenia, moczowego, rozrodczego, oddechowego, pokarmowego</li>
    <li>choroby endokrynologiczne: trzustka, tarczyca, nadnercza, itp.</li>
    <li>choroby zakaźne: wirusowe, bakteryjne, grzybicze</li>
</ul>

{% endblock %}