{% extends 'vet/vet.html' %}
{% block content %}
<h3>O NAS</h3>

<p>
Przychodnia dla zwierząt istnieje od sierpnia 2004r i od tego czasu zdążyliśmy już zaskarbić sobie Państwa zaufanie rzetelnym ale też nie pozbawionym sympatii dla wielu uroczych pacjentów podejściem. To zaufanie jest dla nas bardzo ważne – Dziękujemy!

Każdy z nas stara się jak najlepiej wykorzystać doświadczenie zdobyte w ciągu wielu lat pracy, a także stale podnosić swoje kwalifikacje poprzez uczestnictwo w kursach i sympozjach naukowych oraz korzystając z bieżącej literatury zawodowej.

    Specjalizujemy się w leczeniu zwierząt domowych i towarzyszących.</p>


    <p style="float:right;">Lek. wet. Dariusz Mularczyk oraz zespół przychodni</p>

{% endblock %}