{% extends 'vet/vet.html' %}
{% block content %}

<div class="title"><h4>PASZPORTY</h4></div>
<ul>
<li>
    Aby móc przemieszczać się na terenie UE, od maja 2003r wymagane są paszporty dla psów, kotów
    i fretek które ukończyły 3 miesiąc życia, przed osiągnięciem 3 miesięcy zwierzęta te nie mogą być przewożone na terenie UE.
</li>

<li>
    Paszport można wydać zwierzęciu które ma aktualne szczepienie przeciwko wściekliźnie
    i zostało oznaczone mikroczipem lub tatuażem, te wymogi wystarczają do wywozu zwierzęcia do większości państw Unii.
</li>

<li>
    Paszport można wydać po spisaniu niezbędnych danych czyli w przeciągu 30 min., najczęściej jest wystawiany na następny dzień.
</li>

<li>
    Ponieważ występują specjalne obostrzenia dotyczące wywozu zwierząt do Wielkiej Brytanii, Irlandii, Malty
    i Szwecji przedstawimy wymogi które w tych wypadkach powinny być spełnione, są one praktycznie bardzo zbliżone
    dlatego niech za wzór posłużą poniższe przepisy, o szczegóły proszę pytać drogą elektroniczną.
</li>
</ul>

<p><b>Zwierzęta towarzyszące (psy, koty i fretki) przemieszczane w celach niekomercyjnych
    z Polski na terytorium Zjednoczonego Królestwa Wielkiej Brytanii i Irlandii Północnej muszą spełniać następujące wymagania:
</b></p>
<ol>
<li>W pierwszej kolejności muszą zostać zidentyfikowane za pomocą mikroczipu, zgodnego z wymogami normy ISO 11784
    lub Aneksu A do normy ISO 11785 (w przypadku, gdy mikroczip nie spełnia wymagań żadnej z ww. norm, właściciel zwierzęcia
    lub osoba za nie odpowiedzialna w imieniu właściciela, musi zapewnić możliwość odczytania numeru mikroczipu
    podczas jakiejkolwiek kontroli, tzn. musi dysponować czytnikiem).
</li>
<li>
    Następnie zostać zaszczepione przeciwko wściekliźnie.
</li>
<li>Po upływie przynajmniej 1 miesiąca po szczepieniu, należy pobrać krew od zwierzęcia (rejestry lekarzy upoważnionych
    do pobierania próbek krwi od psów, kotów i fretek do wykonania badań w kierunku efektywności szczepienia przeciwko
    wściekliźnie prowadzą właściwe terytorialnie okręgowe rady lekarsko-weterynaryjne. Listy ww. lekarzy są dostępne
    na stronie internetowej Krajowej Izby Lekarsko-Weterynaryjnej pod adresem <a href='http://www.vetpol.org.pl' target="_blank">www.vetpol.org.pl</a> ) i przesłać do badania
    w kierunku efektywności ww. szczepienia do zatwierdzonego przez Unię Europejską laboratorium – lista zatwierdzonych
    laboratoriów jest zamieszczona w Decyzji Komisji 2005/392/WE (zatwierdzonym laboratorium na terenie Polski jest
    Państwowy Instytut Weterynaryjny – Państwowy Instytut Badawczy - Zakład Wirusologii, Al. Partyzantów 57, 24-100 Puławy, <a href="http://www.piwet.pulawy.pl" target="_blank">www.piwet.pulawy.pl</a>).
    Przeprowadzenie badania nie jest konieczne w przypadku fretek.
</li>
<li>Zwierzę może wjechać na terytorium Zjednoczonego Królestwa Wielkiej Brytanii i Irlandii Północnej nie wcześniej niż
    po upływie 6 miesięcy od uzyskania pozytywnego wyniku ww. badania (tzn. miano przeciwciał w surowicy musi wynosić co najmniej 0,5 IU/ml)
</li>
<li>Po uzyskaniu wyniku powyższego badania należy udać się do lekarza weterynarii upoważnionego do wystawiania paszportów
    dla zwierząt towarzyszących (lista lekarzy wyznaczonych znajduje się na stronie internetowej:
    <a href='http://www.vetpol.org.pl' target="_blank">www.vetpol.org.pl</a> oraz na płycie w katalogu: Paszporty)
    w celu wprowadzenia informacji o wszystkich ww. czynnościach do paszportu zwierzęcia.
</li>
<li>Dodatkowo na 24-48 godzin przed wyjazdem, zwierzę musi zostać odrobaczone i poddane profilaktyce przeciwkleszczowej - te
    czynności również muszą zostać potwierdzone w paszporcie zwierzęcia.
</li>
<li>Zwierzę może wjechać na terytorium Zjednoczonego Królestwa Wielkiej Brytanii i Irlandii Północnej jedynie zatwierdzoną
    przez DEFRA trasą i korzystając z usług zatwierdzonego przewoźnika (lista zatwierdzonych tras wjazdu i autoryzowanych
    przewoźników dostępna jest dostępna na stronie internetowej <a href="http://www.defra.gov.uk" target="_blank">www.defra.gov.uk</a>).
</li>
    </ol>

<p style="color:#2655e1;">Uwaga !!!</p>
<p>Aby zwierzę zostało wpuszczone na terytorium Zjednoczonego Królestwa Wielkiej Brytanii i Irlandii Północnej musi być
    bezwzględnie zachowana kolejność powyższych działań. W przypadku, gdy zwierzę zostało najpierw zaszczepione
    przeciwko wściekliźnie a potem zidentyfikowane (mikroczip), szczepienie przeciwko wściekliźnie powinno zostać
    powtórzone po zaczipowaniu zwierzęcia, jednakże ze względów zdrowotnych, nie wcześniej niż w 21 dni po ostatnim szczepieniu.
</p>

<p style="color:#2655e1;">Uwaga !!!</p>
<p>Przemieszczanie z Polski na terytorium Zjednoczonego Królestwa Wielkiej Brytanii i Irlandii Północnej psów, kotów
    i fretek w wieku poniżej trzech miesięcy, nieszczepionych przeciwko wściekliźnie jest niedozwolone.<br>
Źródło: KILW</p>

{% endblock %}