{% extends 'vet/vet.html' %}
{% block content %}

<div class="title"><h4>ZABIEGI PIELĘGNACYJNE</h4></div>

<ul>
<li>Strzyżenie</li>
<li>Kąpiele</li>
<li>Przycinanie pazurów</li>
<li>Dobór kosmetyków – musimy pamiętać o tym że:<br>
    naskórek zwierzęcia jest dużo bardziej wrażliwy na czynniki drażniące niż naskórek człowieka
    i bardzo ważnym jest właściwe dobranie szamponu, z doświadczenia wielu opiekunów zwierząt dowiadujemy się o tym,
    że to właśnie pierwsza kąpiel jest początkiem problemów dermatologicznych z racji przypadkowo użytego kosmetyku.</li>
</ul>

{% endblock %}