{% extends 'vet/vet.html' %}
{% block content %}

<div class="title"><h4>LECZENIE PROFILAKTYCZNE</h4></div>

<p><i>„Lepiej zapobiegać niż leczyć”</i><p>

<p><b>Ta złota myśl Hipokratesa nie wymaga komentarza i jej sens służy jako motto naszej profilaktyki.</b><br>
    Poniżej przedstawiamy jedynie harmonogram szczepień i odrobaczeń:</p>

<p style="color:#2655e1;"><b>DLA PSÓW:</b>
    <p>Szczepienia wczesne: 6-7 tygodni nosówka, parwowiroza,<br>
    9-10 tygodni nosówka, parwowiroza, koronawiroza, choroba Rubartha, kaszel kenelowy, leptospiroza.</p>

<p>Standardowe: 9-10 tydzień nosówka, parwowiroza, koronawiroza, choroba Rubartha, kaszel kenelowy, leptospiroza<br>
12-13 tydzień j.w.<br>
    15 tydzień wścieklizna<br></p>

<p>Po 12 miesiącach szczepienia przypominające.<br>
    Przeciw BOLERIOZIE od 12 tygodnia życia.<br></p>


<p><strong>Pamiętaj: kleszcze w naszej szerokości geograficznej występują już cały rok, nie pozwól na ich kontakty z Twoim zwierzęciem!</strong></p>


<p style="color:#2655e1;"><b>DLA KOTÓW:</b>
</p>
Szczepienia młodych kotków w 8-9 tygodniu i powtórnie po 3 tygodniach, dotyczy herpes <br>
    i kaliciwirozy, panlekopenii oraz dodatkowo można zaszczepić chlamydię i białaczkę.<br>
Po 12 miesiącach szczepienia przypominające.<br>
    Kot wychodzący powinien być zaszczepiony przeciw wściekliźnie.</p>

<p>Zwalczanie pasożytów:</p>
    <ul>
    <li>wewnętrznych (robaki płaskie i obłe), preparaty w postaci tabletek i preparatów SPOT ON</li>
    <li>zewnętrznych (pchły, świerzb)</li>
    </ul>


<p><strong> Pamiętaj: przed każdym szczepieniem o odrobaczaniu zwierzaka!</strong></p>


<p style="color:#2655e1;"><b>DLA KRÓLIKÓW:</b></p>

    <p>Również podlegają szczepieniu i odrobaczaniu przeciw pasożytom zewnętrznym i wewnętrznym.</p>
<ul>
    <li style="list-style-type: disc;">Myksomatoza – szczepienie obowiązkowe przeprowadzone na wiosnę, dotyczy także królików nie wychodzących z mieszkań.</li>
    <li style="list-style-type: disc;">Pomór królików – szczepienie dla królików mogących mieć kontakt ze zwierzętami chorymi.</li>
    <li style="list-style-type: disc;">Katar zakaźny (Pasterelloza) – szczepienie dla królików mogących mieć kontakt ze zwierzętami chorymi.</li>
</ul>

{% endblock %}