<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/vet.css' %}">
    <meta charset="UTF-8">
    <title>Przychodnia dla Zwierząt</title>
    <style>

    </style>
</head>
<body>

    <ul>
      <li><a class="active" href="#">Home</a></li>
      <li><a href="#">O nas</a></li>
      <li><a href="#">Leczenie</a>
        <ul>
            <li><a href="">Internistyczne</a></li>
            <li><a href="">Profilaktyczne</a></li>
            <li><a href="">Chirurgiczne</a></li>
            <li><a href="">Ortopedyczne</a></li>
        </ul>
      </li>
      <li><a href="#">Badania laboratoryjne</a></li>
      <li><a href="#">RTG EKG</a></li>
      <li><a href="#">Pielęgnacja</a></li>
      <li><a href="#">Kontakt</a></li>
      <li><a href="#">Inne</a>
        <ul>
            <li><a href="">Paszporty</a></li>
            <li><a href="">Czipowanie</a></li>
            <li><a href="">Diety</a></li>
        </ul>
      </li>
    </ul>
<div class="title">PRZYCHODNIA DLA ZWIERZĄT</div>
</body>
</html>
